### Python Functions with Syntax and Examples

In [ ]:
def function_name():
    '''
    '''

### Difference between Parmeters and Arguments
1. Parameters are variables used while defining the functions Ex: a and b in HelloWorld() are parameters 
2. Arguments are the values passed to the functions when calling it Ex: 2 and 4 while calling HelloWorld() are arguments

In [5]:
def HelloWorld(a,b):
    sum=a+b
    return sum
    
HelloWorld(2,4)

6

### In-Built Functions

- len()
- range()
- print()
- input().etc..

### Reading and Writing CSV file

In [39]:
import csv

In [40]:
Fields=['Name','Age','Gender']

In [41]:
RowFields=[ ['Nikhila', '20', 'female'],  
         ['Sanchit', '24', 'male'],  
         ['Aditi', '25', 'female'],  
         ['Sagari', '30', 'female'],  
         ['Prateek', '22', 'male'],  
         ['Sahil', '27', 'male']]

In [42]:
with open('sample.csv','w') as csvfile:
    csvwriter=csv.writer(csvfile)
    csvwriter.writerow(Fields)
    csvwriter.writerows(RowFields)

In [43]:
with open('sample.csv','r') as csvfile:
    csvReader = csv.reader(csvfile)
    for line in csvfile:
        print(line)

Name,Age,Gender

Nikhila,20,female

Sanchit,24,male

Aditi,25,female

Sagari,30,female

Prateek,22,male

Sahil,27,male

In [44]:
type(csvReader)

_csv.reader

### Append a Record to the csv file

In [45]:
with open('sample.csv','a') as csvfile:
    csvWriter=csv.writer(csvfile)
    csvWriter.writerow(['Nidhi','25','Female'])

In [46]:
with open('sample.csv','r') as csvfile:
    csvReader = csv.reader(csvfile)
    for line in csvfile:
        print(line)

Name,Age,Gender

Nikhila,20,female

Sanchit,24,male

Aditi,25,female

Sagari,30,female

Prateek,22,male

Sahil,27,male

Nidhi,25,Female

### Reading and Writing CSV files using Pandas

In [47]:
import pandas as pd

In [55]:
df=pd.read_csv('sample.csv')
df

      Name  Age  Gender
0  Nikhila   20  female
1  Sanchit   24    male
2    Aditi   25  female
3   Sagari   30  female
4  Prateek   22    male
5    Sahil   27    male
6    Nidhi   25  Female

In [60]:
df.to_csv('sample.csv',index=False)

### Appending record at the end or anywhere in between to csv file using pandas

In [50]:
len(df.index)

7

In [56]:
df.loc[len(df.index)] = ['Ganesh','30','Male']

In [59]:
df

      Name Age  Gender
0  Nikhila  20  female
1  Sanchit  24    male
2    Aditi  25  female
3   Sagari  30  female
4  Prateek  22    male
5    Sahil  27    male
6    Nidhi  25  Female
7   Ganesh  30    Male

### Date and Time in Python
**Example 1:** Passing date as an argument

In [7]:
from datetime import date
date_arg=date(2025,3,28)
print(date_arg)

2025-03-28

**Example 2:** Geting today's date

In [8]:
todaydate=date.today()
print(todaydate)

2025-02-04

**Example 3:** Getting today's month, year and day

In [12]:
today_date=date.today()
todayyear=today_date.year
todaymonth=today_date.month
todayday=today_date.day
print("Today's year: ",todayyear)
print("Today's month: ",todaymonth)
print("Today's day: ",todayday)

Today's year:  2025
Today's month:  2
Today's day:  4

## Python Objects and Map Function
Objects are instances of a class and Class is a blueprint for the objects
### Key Points to Remember
- __init__ initializes attributes when an object is created.
- self refers to the specific instance of the class.
- self allows each object to have unique attribute values.

In [13]:
#create a class
class House:
    house_type="Rented House"
    #create constructor
    def __init__(self,floors,rooms,price):
        self.floors=floors
        self.rooms=rooms
        self.price=price

In [15]:
My_House= House(4,3,30000)

In [16]:
type(My_House)

__main__.House

- **Access the variables of the objects using dot operator**

In [17]:
My_House.floors

4

In [18]:
My_House.rooms

3

In [19]:
My_House.price

30000

- **Update the objects memeber values**

In [23]:
My_House.price=35000
My_House.price

35000

- **Delete the objects members**

In [30]:
del My_House.floors
My_House.floors

AttributeError: 'House' object has no attribute 'floors'

AttributeError: 'House' object has no attribute 'floors'

In [31]:
My_House.floors=4
My_House.floors

4

In [32]:
My_House.bathrooms=3
My_House.bathrooms

3

### Maps
map() function, which is used for applying a function to each item in an iterable (e.g., list, tuple) and returning a new iterator.
- **Syntax: map(function, iterable)**
   - function: A function that will be applied to each element of the iterable.
   - iterable: A sequence (list, tuple, strings) whose elements the function will process.
- **Key Benefits of map()**
    - Avoids explicit loops, making code cleaner.
    - More efficient than list comprehensions for large datasets.
    - Works with multiple iterables at once.

**Example 1:** Using map() with a Function

In [43]:
#function which is going to be performed on each item of the list
def square(n):
    return n * n

#the square function will be applied to each item in numbers 
numbers = [1, 2, 3, 4, 5]
#the map() is used for squaring each item in numbers
squared_numbers = map(square, numbers)

#print the output in list form
print(list(squared_numbers))

[1, 4, 9, 16, 25]

**Example 2:** Using map() with lambda

In [44]:
numbers=[1,2,3,4,5]
squared_numbers=map(lambda x: x*x,numbers)
print(list(squared_numbers))

[1, 4, 9, 16, 25]

**Example 3:** Using map() on strings

In [49]:
str='Hello World'
def upper(str):
    return str.upper()

string_upper=map(upper,str)
for i in string_upper:
    print(i,end='')

HELLO WORLD

### Lambda in Python
- **Syntax:** lambda args:expression

In [52]:
add=lambda a,b:a+b

In [56]:
# Now add is a lambda function
add(2,3)

5

In [55]:
add(2,9)

11

### List Comprehension in Python
- List comprehension is a concise and efficient way to create lists in Python. It replaces traditional for loops and map() functions while keeping the code shorter and more readable.
- **Syntax:** expression for item in iterable if condition
    - Expression → The operation applied to each item.
    - Iterable → The sequence (list, tuple, string, etc.).
    - Condition (Optional) → Filters items before applying the expression.

In [59]:
#Working with list without comprehension looks like this
l=[]
for i in range(10):
    l.append(i)

In [60]:
l

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

**Example 1:** using the expression

In [66]:
#Same thing with Comprehension
a=[x*x for x in range(10)]

In [67]:
a

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

**Example 2:** using list comprehension with if condition

In [68]:
#this takes only even numbers from 0 to 9
b=[x+x for x in range(10) if x%2==0]
b

[0, 4, 8, 12, 16]

**Example 2:** using list comprehension with if else condition

In [75]:
b=['odd' if x%2!=0 else x+x for x in range(10)]
b

[0, 'odd', 4, 'odd', 8, 'odd', 12, 'odd', 16, 'odd']

### Scalar and Vector Multiplication

In [1]:
import numpy as np

"""scaler data"""
scalar = 5
vector = np.array([1, 2, 3])
print("Scalar:", scalar)
print("Vector:", vector)

"""Vector data"""
v1 = np.array([1, 2, 3])
v2 = np.array([4, 5, 6])

scalar_mult = 2 * v1  # Scalar multiplication
dot_product = np.dot(v1, v2)  # Dot product

print("Scalar Multiplication:", scalar_mult)
print("Dot Product:", dot_product)

Scalar: 5
Vector: [1 2 3]
Scalar Multiplication: [2 4 6]
Dot Product: 32

### Norm of vector

In [2]:
vector=np.array([3,4]) #square root the values and add
norm=np.linalg.norm(vector) #euclidean norm
print(norm)

5.0

In [4]:
### Matrix addition and dot product

In [6]:
v1 = np.array([[1, 2], [3,4]])
v2 = np.array([[4, 5], [6,7]])
matrix_sum=v1+v2
matrix_mult=np.dot(v1,v2)
print(matrix_sum)
print(matrix_mult)

[[ 5  7]
 [ 9 11]]
[[16 19]
 [36 43]]

### Rank of matix

In [7]:
rank=np.linalg.matrix_rank(v1)
print(rank)

2

In [9]:
v1 = np.array([[1, 2,3], [3,4,5],[2,3,4]])
rank=np.linalg.matrix_rank(v1)
print(rank)

2

### Regular Expressions

- []  Set of characters

- \  special sequences

- ^  starts with

- $  ends with

- '*'  0 or more occurences
  
- '+'  1 or more occurences
   
- ?  0 or 1 occurence

- ()  capture a group

In [2]:
import re

In [4]:
s='This is a simple string.'
pattern='is'
re.search(pattern,s).start()

2

In [5]:
pattern='^This'
re.search(pattern,s)

In [ ]:
#Special Sequences
\d- digits
\D - Not digits
\w - A-Za-z0-9_
\W - ~\w

In [6]:
re.findall('is',s)

['is', 'is']

In [9]:
numbers='''
0845-745745
4546-546565
6565-656565'''
pattern=re.compile('\d{4}-\d{6}')
re.findall(pattern,numbers)

['0845-745745', '4546-546565', '6565-656565']