In [2]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import BaggingClassifier
from sklearn.metrics import classification_report

In [3]:
diabetes_df=pd.read_csv('diabetes.csv')
diabetes_df.head()

   preg   plas   pres  skin   insu  mass   pedi   age            class
0   6.0  159.1   67.5  27.0  408.6  57.0  0.642  36.0  tested_negative
1  14.0  170.3  111.6  30.0  758.4  65.6  1.157  53.0  tested_positive
2  10.0  139.3   88.5  83.5  831.3  46.2  1.204  23.0  tested_positive
3   7.0  150.6   24.8  49.6  337.6  29.0  1.391  43.0  tested_positive
4   6.0  102.2  116.4  51.8  351.5  60.4  1.993  31.0  tested_positive

### As our data has one category(non-numreical) column let;s use label encoding technique to convert it to numerical for better model

In [9]:
from sklearn.preprocessing import LabelEncoder
labelenc=LabelEncoder()
diabetes_df['class']=labelenc.fit_transform(diabetes_df['class'])
diabetes_df.head()

   preg   plas   pres  skin   insu  mass   pedi   age  class
0   6.0  159.1   67.5  27.0  408.6  57.0  0.642  36.0      0
1  14.0  170.3  111.6  30.0  758.4  65.6  1.157  53.0      1
2  10.0  139.3   88.5  83.5  831.3  46.2  1.204  23.0      1
3   7.0  150.6   24.8  49.6  337.6  29.0  1.391  43.0      1
4   6.0  102.2  116.4  51.8  351.5  60.4  1.993  31.0      1

In [10]:
X=diabetes_df.drop('class',axis=1)
y=diabetes_df['class']

In [11]:
from sklearn.model_selection import KFold,cross_val_score
kfold=KFold(n_splits=10)
cart=DecisionTreeClassifier()
num_trees=100

In [6]:
model=BaggingClassifier(estimator=cart,n_estimators=num_trees,random_state=12)
results=cross_val_score(model,X,y,cv=kfold)
print(results.mean())

0.4960000000000001